<!DOCTYPE html>
<html theme="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
</head>

<body>
  <div class="container">
    <div class="our-grid">
      <div class="row">
        <div class="header center-block-vert col-10 push-1 pull-1">
          <div class="header-phone col-6">
            <div class="header-phone_con center-align-vertical">
              <b>
                <p>700</p>
              </b>
              <h6 class="light-text">режим работы с 07:00 до 22:00</h6>
            </div>
          </div>
          <div class="header-but col-6">
            <div class="header-but_con center-align-vertical">
              <a class="header-but-block" href="">
                <p>A</p>
              </a>
              <a class="header-but-block" href="">
                <p>К</p>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="our-grid">
      <div class="row">
        <div class="main-header center-block-vert col-10 push-1 pull-1">
          <div class="main-header-logo">
            <img src="/src/images/logo.png" alt="">
            <p>steel<span>smart</span></p>
          </div>
          <div class="main-header-left col-xl-6">
            <ul>
              <li>
                <h4>Ожидаемые товары</h4>
              </li>
              <li>
                <h4>Лучшая цена</h4>
              </li>
            </ul>
          </div>
          <div class="main-header-right col-xl-6 col-6">
            <ul>
              <li>
                <h4>магазин электроники и эксессуаров</h4>
              </li>
            </ul>
          </div>
          <div class="main-header-bottom main-header-bottom_left col-4">
            <ul class="">
              <li>
                <h4>Акции</h4>
              </li>
              <li>
                <h4>Магазины</h4>
              </li>
            </ul>
          </div>
          <div class="main-header-bottom main-header-bottom_right col-8">
            <ul class="">
              <li>
                <h4>Клиентам</h4>
              </li>
              <li>
                <h4>Сервис и услуги</h4>
              </li>
              <li>
                <h4>Работа в SteelSmart</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="our-grid">
      <div class="row">
        <div class="center-block-vert col-10 push-1 pull-1">
          <h4 class="main-heading">Ожидаемые товары</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container main-dark-back">
    <div class="our-grid">
      <div class="row">
        <div class="main-block center-block-vert col-10 push-1 pull-1">
          <div class="card-con">
            <div class="card clearfix">
              <div class="card-img">
                <img src="/src/images/Xiaomi-Redmi-Note-8-Pro-6-53-Inch-6GB-64GB-Green-876009-.jpg" alt="">
              </div>
              <div class="card-info">
                <div class="card-info-top">
                  <div class="card-info-price">
                    <h4>180 900.00р.</h4>
                    <h6>190 900.00р.</h6>
                  </div>
                </div>
                <div class="card-info-details">
                  <p>Xiaomi</p>
                  <h5>Lorem ipsum dolor sit amet.</h5>
                </div>
              </div>
              <a href="">
                <div class="card-info-but">
                  <p>More details</p>
                </div>
              </a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>